* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* common class typrography */

body {
  background-color: #f5f5f5;
}

.continer {
  max-width: 80%;
  margin: 0 auto;
}
.header-text {
  margin-bottom: 32px;
}

.header-text h1 {
  font-size: 40px;
  font-weight: 700;
  font-style: Bold;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.header-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

#banner,
#piller,
#future,
#option,
#news,
#donate,
#subcribe {
  margin-bottom: 80px;
}
.btn {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 106, 80, 1);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.news-content-2 {
  flex-direction: row-reverse;
}

.news-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 24px;
}

.news-content .news-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-content .news-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

.news-content .news-text img {
  width: 143px;
}

.news-content .news-text .news-time {
  display: flex;
  gap: 12px;
}

.news-content .news-text .btn {
  width: 169px;
  padding: 13px 32px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
}

.news-content .news-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.news-card .card-img img {
  width: 408px;
  border-radius: 24px;
}
/* main section */

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.navbar-content h2 {
  font-size: 32px;
  font-weight: 700;
  font-style: Bold;
}

#banner-continer {
  margin-top: 20px;
  background: rgba(198, 228, 214, 1);
  border-radius: 24px;
}

.banneer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  gap: 64px;
}

.banneer-content .banner-text h1 {
  width: 610px;
  font-size: 56px;
  font-weight: 700;
  font-style: Bold;
  line-height: 67px;
  margin-bottom: 24px;
}

.banneer-content .banner-text .btn {
  background: rgba(0, 106, 80, 1);
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 32px;
}

.banneer-content .banner-img img {
  width: 100%;
}

.piller-content,
.future-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.piller-content .banner-card {
  width: 302px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  gap: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 1);
}

.piller-content .banner-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}
.piller-content .banner-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.piller-content .banner-card img {
  width: 64px;
}

.future-content {
  margin-bottom: 32px;
}

.future-content .future-card {
  width: 410px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  gap: 20px;
}

.future-content .future-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

.future-content .future-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.future-content .future-card img {
  width: 64px;
}

.future-content .future-card .btn {
  width: 132px;
  background: rgba(0, 106, 80, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
}

.future-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

.future-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}

.future-box h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

/* option  */

.option-content h3 {
  display: flex;
  background-color: aqua;
}

.option-content td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}

#donate-continer .header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.donate-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.donate-taka {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.donate-taka h2 {
  width: 240px;
  text-align: center;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

.donate-content h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.3);
  padding: 20px 40px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.donate-content .btn {
  width: 151px;
  margin: 0 auto;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  color: #ffffff;
  background: rgba(0, 106, 80, 1);
}

#subcribe-continer .header-text {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
}

#subcribe-continer {
  padding: 80px 100px;
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
}

.subcribe-card {
  width: 750px;
  margin: 0 auto;
}

.subcribe-content .subcribe-card input[type="email"] {
  width: 600px;
  padding: 20px 40px;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 8px 0px 0px 8px;
  background: rgba(255, 255, 255, 1);
}

.subcribe-card .btn {
  border-radius: 0px 8px 8px 0px;
  background: rgba(0, 106, 80, 1);
  margin-bottom: 25px;
}

.subcribe-content p {
  text-align: center;
}

#contact {
  background: rgba(255, 255, 255, 1);
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 50px 160px;
}

.contact-content h3 {
  font-size: 32px;
  font-weight: 700px;
  line-height: 38px;
  color: rgba(14, 14, 14, 1);
}
.contact-content .icon {
  display: flex;
  gap: 32px;
}
